main.main 
   .container 
      .cards 
         .card.first
            .card__wrapper
               .card__content 
                  h2.card__title Новогодние корпоративы
                  p.card__price от 89 900 ₽ 
                  button.card__btn Посмотреть пакеты
                     span.icon-showdown
               .slider#slider
                  .slider__item 
                     img.slider__img(src=require("../../images/новыйгод/s1.jpg"), alt="slide1")
                  .slider__item 
                     img.slider__img(src=require("../../images/новыйгод/s2.jpg"), alt="slide2")
                  .slider__item 
                     img.slider__img(src=require("../../images/новыйгод/s3.jpg"), alt="slide3")
                  .slider__item 
                     img.slider__img(src=require("../../images/новыйгод/s4.jpg"), alt="slide4")
                  .slider__item 
                     img.slider__img(src=require("../../images/новыйгод/s5.jpg"), alt="slide5")
            .packets 
               .packet__item 
                  .packet 
                     h3.packet__title «Старт»
                     p.packet__price 89 900 ₽
                     p.packet__desc 5 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content 
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Новогоднее оформление столов и сцены', 'Праздничная ёлка (2 метра)', 'Новогодняя фотозона', 'Электронное пригласительное для гостей' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Программа от ведущего (3 часа)', 'Ди-джей (5 часов)', 'Слайдшоу (видео из ваших фото/видео)', 'Фотограф (2 часа)', 'Караоке' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)', 'Праздничный вынос вашего торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Режиссура вечера и составление тайминга мероприятия', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
               .packet__item 
                  .packet 
                     h3.packet__title «Премиум»
                     p.packet__price 139 000 ₽
                     p.packet__desc 5 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Новогоднее оформление столов и сцены', 'Праздничная ёлка (2 метра)', 'Новогодняя фотозона', 'Электронное пригласительное для гостей' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Программа от ведущего (3 часа)', 'Ди-джей (5 часов)', 'Слайдшоу (видео из ваших фото/видео)', 'Фотограф (2 часа)', 'Welcome - Иллюзион или Саксофон  -  (20 - 30 минут)', 'Пиротехнические фонтаны (2 шт)', 'Бармен или официант (6 часов)', 'Помощь в создании корпоративного квиза' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)', 'Лимонад-бар (6 литров)', 'Праздничный вынос вашего торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Режиссура вечера и составление тайминга мероприятия', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
               .packet__item 
                  .packet 
                     h3.packet__title «Все включено»
                     p.packet__price 199 000 ₽
                     p.packet__desc 6 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Новогоднее оформление столов и сцены', 'Праздничная ёлка (2 метра)', 'Новогодняя фотозона', 'Электронное пригласительное для гостей' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Программа от ведущего (4 часа)', 'Ди-джей (6 часов)', 'Слайдшоу (видео из ваших фото/видео)', 'Фотограф (3 часа)', 'Видеооператор (3 часа)', 'Горка шампанского', 'Пиротехнические фонтаны (4 шт)', 'Бармен или официант (6 часов)', 'Welcome - Иллюзион / Саксофон', 'Помощь в создании корпоративного квиза' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)', 'Лимонад-бар (8 литров)', 'Праздничный вынос вашего торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Режиссура вечера и составление тайминга мероприятия', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
                  
         .card.second
            .card__wrapper
               .card__content 
                  h2.card__title Выпускные
                  p.card__price от 5 490 ₽ /
                     span.icon-user 
                  button.card__btn Посмотреть пакеты
                     span.icon-showdown
               .slider
                  .slider__item
                     img.slider__img(src=require("../../images/выпускные/s1.jpg"), alt="slide2")
                  .slider__item
                     img.slider__img(src=require("../../images/выпускные/s2.jpg"), alt="slide1")
                  .slider__item
                     img.slider__img(src=require("../../images/выпускные/s3.jpg"), alt="slide3")
                  .slider__item
                     img.slider__img(src=require("../../images/выпускные/s4.jpg"), alt="slide4")
                  .slider__item
                     img.slider__img(src=require("../../images/выпускные/s5.jpg"), alt="slide5")
                  .slider__item
                     img.slider__img(src=require("../../images/выпускные/s6.jpg"), alt="slide6")
            .packets
               .packet__item  
                  .packet 
                     h3.packet__title «Старт»
                     p.packet__price 89 900 ₽
                     p.packet__desc 5 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content 
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Аренда лофта со всей мебелью на 5 часов', 'Техническое оснащение лофта ', 'Караоке' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Шоу-программа от ведущего (3 часа)', 'Ди-джей (4 часа)', 'Слайдшоу', 'Фотограф (2 часа)', 'Праздничный вынос торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
               .packet__item 
                  .packet 
                     h3.packet__title «Премиум»
                     p.packet__price 139 000 ₽
                     p.packet__desc 5 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Праздничное оформление столов и сцены', 'Воздушные шары', 'Фотозона (выпускной 2022)' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Мультимедийная шоу программа от ведущего с реквизитом (4 часа)', 'Ди-джей (5 часов)', 'Караоке', 'Слайдшоу', 'Фотограф (2 часа)', 'Иллюзионист (20 минут)', 'Праздничный вынос торта на тележке с горящими фонтанами', 'Пиротехнические фонтаны (2 шт)', 'На выбор: Бумажное шоу / Кавер-исполнитель / Конфетти-дождь / Пирамида из бокалов шампанского (напитки отдельно)' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой, одноразовые стаканы, чайные и кофейные пакетики', 'Лед для напитков 5 л.', 'Welcome drink - лимонад бар', 'Тематический торт (180-200 г на человека)' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
               .packet__item 
                  .packet 
                     h3.packet__title «Все включено»
                     p.packet__price 199 000 ₽
                     p.packet__desc 6 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Праздничное оформление столов и сцены', 'Воздушные шары', 'Фотозона (выпускной 2023)' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Мультимедийная шоу программа от ведущего с реквизитом (4 часа)', 'Ди-джей (5 часов)', 'Караоке', 'Слайдшоу', 'Фотограф (3 часа)', 'Видеооператор (3 часа)', 'Шоу на выбор (Бармен шоу / Выступление кавер-дуэта / Световое шоу/ Иллюзион Шоу)', 'Шоу на выбор (Ростовые куклы / Иллюзионист Welcome / Зеркальные люди Welcome)', 'Праздничный вынос торта на тележке с горящими фонтанами', 'Пиротехнические фонтаны (4 шт)' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой, одноразовые стаканы, чайные и кофейные пакетики', 'Лед для напитков 5 л.', 'Лёгкий фуршет (фрукты, сладкое)', 'Welcome drink - лимонад бар', 'Горка шампанского (можно безалкогольное)', 'Тематический торт (180-200 г на человека)' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
                  
         .card.third
            .card__wrapper
               .card__content 
                  h2.card__title Вечеринки
                  p.card__price от 55 490 ₽
                  button.card__btn Посмотреть пакеты
                     span.icon-showdown
               .slider
                  .slider__item
                     img.slider__img(src=require("../../images/вечеринки/s1.jpg"), alt="slide1")
                  .slider__item
                     img.slider__img(src=require("../../images/вечеринки/s2.jpg"), alt="slide2")
                  .slider__item
                     img.slider__img(src=require("../../images/вечеринки/s3.jpg"), alt="slide3")
                  .slider__item
                     img.slider__img(src=require("../../images/вечеринки/s4.jpg"), alt="slide4")
                  .slider__item
                     img.slider__img(src=require("../../images/вечеринки/s5.jpg"), alt="slide5")
                  .slider__item
                     img.slider__img(src=require("../../images/вечеринки/s6.jpg"), alt="slide6")
                  .slider__item
                     img.slider__img(src=require("../../images/вечеринки/s7.jpg"), alt="slide7")
                  .slider__item
                     img.slider__img(src=require("../../images/вечеринки/s8.jpg"), alt="slide8")
            .packets 
               .packet__item 
                  .packet 
                     h3.packet__title «Старт»
                     p.packet__price 89 900 ₽
                     p.packet__desc 5 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content 
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Новогоднее оформление столов и сцены', 'Праздничная ёлка (2 метра)', 'Новогодняя фотозона', 'Электронное пригласительное для гостей' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Программа от ведущего (3 часа)', 'Ди-джей (5 часов)', 'Слайдшоу (видео из ваших фото/видео)', 'Фотограф (2 часа)', 'Караоке' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)', 'Праздничный вынос вашего торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Режиссура вечера и составление тайминга мероприятия', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
               .packet__item 
                  .packet 
                     h3.packet__title «Премиум»
                     p.packet__price 139 000 ₽
                     p.packet__desc 5 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Новогоднее оформление столов и сцены', 'Праздничная ёлка (2 метра)', 'Новогодняя фотозона', 'Электронное пригласительное для гостей' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Программа от ведущего (3 часа)', 'Ди-джей (5 часов)', 'Слайдшоу (видео из ваших фото/видео)', 'Фотограф (2 часа)', 'Welcome - Иллюзион или Саксофон  -  (20 - 30 минут)', 'Пиротехнические фонтаны (2 шт)', 'Бармен или официант (6 часов)', 'Помощь в создании корпоративного квиза' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)', 'Лимонад-бар (6 литров)', 'Праздничный вынос вашего торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Режиссура вечера и составление тайминга мероприятия', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
               .packet__item 
                  .packet 
                     h3.packet__title «Все включено»
                     p.packet__price 199 000 ₽
                     p.packet__desc 6 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Новогоднее оформление столов и сцены', 'Праздничная ёлка (2 метра)', 'Новогодняя фотозона', 'Электронное пригласительное для гостей' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Программа от ведущего (4 часа)', 'Ди-джей (6 часов)', 'Слайдшоу (видео из ваших фото/видео)', 'Фотограф (3 часа)', 'Видеооператор (3 часа)', 'Горка шампанского', 'Пиротехнические фонтаны (4 шт)', 'Бармен или официант (6 часов)', 'Welcome - Иллюзион / Саксофон', 'Помощь в создании корпоративного квиза' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)', 'Лимонад-бар (8 литров)', 'Праздничный вынос вашего торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Режиссура вечера и составление тайминга мероприятия', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
                  
         .card.fourth
            .card__wrapper
               .card__content 
                  h2.card__title свадьбы
                  p.card__price от 55 490 ₽
                  button.card__btn Посмотреть пакеты
                     span.icon-showdown
               .slider 
                  .slider__item
                     img.slider__img(src=require("../../images/свадьбы/s1.jpg"), alt="slide1")
                  .slider__item
                     img.slider__img(src=require("../../images/свадьбы/s2.jpg"), alt="slide2")
                  .slider__item
                     img.slider__img(src=require("../../images/свадьбы/s3.jpg"), alt="slide3")
                  .slider__item
                     img.slider__img(src=require("../../images/свадьбы/s4.jpg"), alt="slide4")
                  .slider__item
                     img.slider__img(src=require("../../images/свадьбы/s5.jpg"), alt="slide5")
            .packets 
               .packet__item 
                  .packet 
                     h3.packet__title «Старт»
                     p.packet__price 119 000 ₽
                     p.packet__desc 5 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content 
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Электронное пригласительное для гостей' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Программа от ведущего (3 часа)', 'Ди-джей (5 часов)', 'Фотограф (2 часа)', 'Караоке', 'Бармен или официант (6 часов)' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)', 'Праздничный вынос вашего торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Режиссура вечера и составление тайминга мероприятия', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
               .packet__item 
                  .packet 
                     h3.packet__title «Премиум»
                     p.packet__price 199 000 ₽
                     p.packet__desc 6 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Свадебное оформление президиума', 'Электронное пригласительное для гостей' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Программа от ведущего (4 часа)', 'Ди-джей (6 часов)', 'Видеооператор (1.5 часа)', 'Фотограф (2 часа)', 'Горка шампанского', 'Пиротехнические фонтаны (4 шт)', 'Бармен или официант (6 часов)', 'Составление творческого барного меню' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)', 'Лимонад-бар (5 литров)', 'Праздничный вынос вашего торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Режиссура вечера и составление тайминга мероприятия', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
               .packet__item 
                  .packet 
                     h3.packet__title «Все включено»
                     p.packet__price 259 000 ₽
                     p.packet__desc 6 часов аренды со всей
                        br
                        | мебелью и оборудованием
                     .packet__content
                        .decor 
                           h5.packet__subtitle Декор
                           ul.packet__list 
                              -var links = [ 'Свадебное оформление столов и сцены', 'Фотоаппарат моментальной печати + альбом', 'Свадебная фотозона', 'Электронное пригласительное для гостей' ]
                                 each val in links
                                    li= val
                        .services 
                           h5.packet__subtitle Услуги и развлечения
                           ul.packet__list
                              -var links = [ 'Программа от ведущего (5 часа)', 'Ди-джей (6 часов)', 'Слайдшоу (видео из ваших фото/видео)', 'Фотограф (3 часа)', 'Видеооператор (3 часа + моментальный монтаж клипа о вашей свадьбе, который показывается в конце вечера)', 'Горка шампанского', 'Пиротехнические фонтаны (4 шт)', 'Бармен или официант (6 часов)', 'Welcome - Иллюзионист', 'Составление творческого барного меню' ]
                                 each val in links
                                    li= val
                        .foods 
                           h5.packet__subtitle Еда/напитки
                           ul.packet__list 
                              -var links = [ 'Кулер с водой', 'Лед для напитков (5 литров)', 'Лимонад-бар (8 литров)', 'Праздничный вынос вашего торта на тележке с горящими фонтанами' ]
                                 each val in links
                                    li= val
                     .packet__info
                        span.icon-plus.packet__icon
                        a.more(href="") Также включено
                     ul.packet__list.info 
                        -var links = [ 'Персональный менеджер (координатор мероприятия)', 'Режиссура вечера и составление тайминга мероприятия', 'Уборка после мероприятия', 'Охрана на входе' ]
                           each val in links
                              li= val
                     .order 
                        button.order__btn(data-modal) Забронировать
                        button.order__pdf 
                           img.order__icon(src=require("../../images/pdf.png"), alt="")
                  
   h4.main__title 
      | услуги кейтеринга
      br
      | в пакеты 
      span НЕ 
      | входят 
   p.main__desc 
      | Мы с удовольствием порекомендуем вам проверенных
      br
      | подрядчиков, которые делают самые вкусные и красивые
      br
      | банкеты и фуршеты!