main.main 
   .container 
      .cards 
         .card.first
            .card__content 
               h2.card__title Новогодние корпоративы
               p.card__price от 89 900 ₽ 
               button.card__btn Посмотреть пакеты
                  span.icon-showdown
            .slider
               .slider__inner 
                  img.slider__img(src=require("../../images/новыйгод/s1.jpg"), alt="slide2")
                  img.slider__img(src=require("../../images/новыйгод/s2.jpg"), alt="slide1")
                  img.slider__img(src=require("../../images/новыйгод/s3.jpg"), alt="slide3")
                  img.slider__img(src=require("../../images/новыйгод/s4.jpg"), alt="slide4")
                  img.slider__img(src=require("../../images/новыйгод/s5.jpg"), alt="slide5")
               .slider__controls
                  button.prev
                     span.icon-prev
                  button.next 
                     span.icon-next

         .card.second
            .card__content 
               h2.card__title Выпускные
               p.card__price от 5 490 ₽ /
                  span.icon-user 
               button.card__btn Посмотреть пакеты
                  span.icon-showdown
            .slider
               .slider__inner 
                  img.slider__img(src=require("../../images/выпускные/s1.jpg"), alt="slide2")
                  img.slider__img(src=require("../../images/выпускные/s2.jpg"), alt="slide1")
                  img.slider__img(src=require("../../images/выпускные/s3.jpg"), alt="slide3")
                  img.slider__img(src=require("../../images/выпускные/s4.jpg"), alt="slide4")
                  img.slider__img(src=require("../../images/выпускные/s5.jpg"), alt="slide5")
                  img.slider__img(src=require("../../images/выпускные/s6.jpg"), alt="slide6")
               .slider__controls
                  button.prev
                     span.icon-prev
                  button.next 
                     span.icon-next

         .card.third
            .card__content 
               h2.card__title Вечеринки
               p.card__price от 55 490 ₽
               button.card__btn Посмотреть пакеты
                  span.icon-showdown
            .slider
               .slider__inner 
                  img.slider__img(src=require("../../images/вечеринки/s1.jpg"), alt="slide2")
                  img.slider__img(src=require("../../images/вечеринки/s2.jpg"), alt="slide1")
                  img.slider__img(src=require("../../images/вечеринки/s3.jpg"), alt="slide3")
                  img.slider__img(src=require("../../images/вечеринки/s4.jpg"), alt="slide4")
                  img.slider__img(src=require("../../images/вечеринки/s5.jpg"), alt="slide5")
                  img.slider__img(src=require("../../images/вечеринки/s6.jpg"), alt="slide6")
                  img.slider__img(src=require("../../images/вечеринки/s7.jpg"), alt="slide7")
                  img.slider__img(src=require("../../images/вечеринки/s8.jpg"), alt="slide8")
               .slider__controls
                  button.prev
                     span.icon-prev
                  button.next 
                     span.icon-next

         .card.fourth
            .card__content 
               h2.card__title свадьбы
               p.card__price от 55 490 ₽
               button.card__btn Посмотреть пакеты
                  span.icon-showdown
            .slider
               .slider__inner 
                  img.slider__img(src=require("../../images/свадьбы/s1.jpg"), alt="slide2")
                  img.slider__img(src=require("../../images/свадьбы/s2.jpg"), alt="slide1")
                  img.slider__img(src=require("../../images/свадьбы/s3.jpg"), alt="slide3")
                  img.slider__img(src=require("../../images/свадьбы/s4.jpg"), alt="slide4")
                  img.slider__img(src=require("../../images/свадьбы/s5.jpg"), alt="slide5")
               .slider__controls
                  button.prev
                     span.icon-prev
                  button.next 
                     span.icon-next

   h4.main__title 
      | услуги кейтеринга
      br
      | в пакеты 
      span НЕ 
      | входят 
   p.main__desc 
      | Мы с удовольствием порекомендуем вам проверенных
      br
      | подрядчиков, которые делают самые вкусные и красивые
      br
      | банкеты и фуршеты!