header.header
   img.vectors.a20x20(src=require("../../images/svg/20x20.svg"), alt=".")
   img.vectors.b121x108(src=require("../../images/svg/121x108.svg"), alt=".")
   img.vectors.c20x20center(src=require("../../images/svg/20x20center.svg"), alt=".")
   img.vectors.d29x26(src=require("../../images/svg/29x26.svg"), alt=".")
   img.vectors.e79x75(src=require("../../images/svg/79x75.svg"), alt=".")
   img.vectors.f111x89(src=require("../../images/svg/111x89.svg"), alt=".")
   img.vectors.g82x102f(src=require("../../images/svg/82x102f.svg"), alt=".")
   .container 
      include ../nav/nav.pug
      .header__content
         img.header__bg(src=require("../../images/header_title-bg.jpg"), alt="")
         h1.header__title праздники
         h3.header__subtitle под ключ на наших площадках
         p.header__desc Мы сформировали пакетные предложения для самых востребованных типов мероприятий, чтобы вы сэкономили время и силы! 
      img.header__icon(src=require("../../images/svg/arrow.svg"), alt="")

main.main
